.header {
  padding-bottom: 55px;

  @include respond-to(smallScreen) {
    padding-bottom: 32px;
  }

  &__title {
    display: inline-block;
    margin-left: 63px;
    width: 65%;

    @include respond-to(smallScreen) {
      margin-top: 53px;
      margin-left: 0;
      order: 1;
    }

    &-wrapper {
      display: flex;
      padding-top: 260px;
      padding-bottom: 245px;

      @include respond-to(smallScreen) {
        flex-direction: column;
        margin: auto;
        padding-top: 32px;
        padding-bottom: 41px;
        width: 90%;
      }

      & img {
        transform: rotate(-60deg);
        width: 20%;
      }
    }

    @include respond-to(smallScreen) {
      width: 100%;
    }

    & span {
      background-color: #013BD6;
      color: #FFFFFF;
      font-family: Gilroy, sans-serif;
      font-size: rem(38);
      font-weight: bold;
      line-height: 1.5;
      padding: 8px;

    }
  }

  &__arrow {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #013BD6;
    box-shadow: 0 24px 19px -10px rgba(1,59,214,0.3);
    margin-left: 82px;
    padding: 19px 22px;

    &::after {
      content: '\f063';
      color: white;
      font-family: FontAwesome;
    }

    &-title {
      color: #000D46;
      font-family: Gilroy, sans-serif;
      font-size: rem(16);
      font-weight: bold;
      line-height: 22px;
    }
  }
}

.circle {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: fixed;
  width: 2vw;
  height: 2vw;
  z-index: 4;
  opacity: .75;
}

.dropdown:hover .dropdown-menu {
  display: block;

  &::before, &::after {
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 1em;

    @media screen and (max-width: 991px){
      bottom: 84%;
      left: 14em;
    }
  }

  &::before {
    border-bottom: 9px solid #7f9dea;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    margin-top: -3px;
    margin-left: -2px;
    z-index: -100;
  }

  &::after {
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 1;
    margin-top: 1px;
  }
}

.dropdown-menu {
  border: 1px solid #809DEA;
  position: relative;

  @include respond-to(smallScreen) {
    border: none;
  }
}

.btn:hover {
  box-shadow: 0 29px 24px -10px rgba(1,59,214,0.2);
}

.navbar-light .navbar-nav .nav-link, .nav-item > .dropdown-menu > .dropdown-item {
  color: #000D46;
  font-family: Gilroy, sans-serif;
  font-size: rem(16);
  font-weight: bold;
  line-height: 22px;
}

.nav-item > .dropdown-menu > .dropdown-item {
  @include respond-to(smallScreen) {
    line-height: 0.5;
    text-align: center;
  }

  &:hover {
    background-color: #EAEFFC;
  }
}

.bigYellowCircle {
  background-image: url("https://www.kirupa.com/images/yellow_circle.svg");
  background-position: center center;
  top: 360px;
  right: 250px;
  z-index: 4;

  &2 {
    top: 420px;
    right: 80px;
  }

  &3 {
    top: 180px;
    left: 400px;
  }

  &4 {
    top: 10px;
    left: 140px;
  }

  &5 {
    top: 270px;
    right: 130px;
  }

  &6 {
    top: 600px;
    right: 400px;
  }

  &7 {
    top: 510px;
    left: 300px;
  }

  &8 {
    top: 330px;
    left: 510px;
  }
}

.blueSquare {
  background-image: url("https://www.kirupa.com/images/blue_square.svg");
  background-position: 97% bottom;
  top: 205px;
  right: 300px;
  z-index: 5;

  &2 {
    top: 40px;
    right: 250px;
  }

  &3 {
    top: 280px;
    right: 450px;
  }

  &4 {
    top: 100px;
    left: 300px;
  }

  &5 {
    top: 400px;
    left: 100px;
  }

  &6 {
    top: 500px;
    right: 780px;
  }

  &7 {
    top: 200px;
    left: 600px;
  }

  &8 {
    top: 440px;
    right: 630px;
  }
}

.greenSemicircle {
  background-image: url("/pisa/dist/assets/img/semicircle.svg");
  background-position: 5% top;
  background-size: contain;
  top: 0;
  z-index: 6;

  &2 {
    top: 100px;
    right: 100px;
  }

  &3 {
    top: 120px;
    left: 50px;
  }

  &4 {
    top: 260px;
    left: 245px;
  }

  &5 {
    top: 400px;
    right: 10px;
  }

  &6 {
    top: 570px;
    right: 200px;
  }

  &7 {
    top: 700px;
    left: 400px;
  }

  &8 {
    top: 300px;
    left: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header__title-wrapper > img {
    width: 17%;
  }
}
