.hero {
  padding-top: 80px;
  padding-bottom: 102px;

  @include respond-to(smallScreen) {
    padding-top: 40px;
    padding-bottom: 51px;
  }

  &__scheme {
    align-items: center;
    background-color: #F1F5FF;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 51px;
    padding-bottom: 59px;
    width: 90%;

    @include respond-to(smallScreen) {
      flex-direction: column;
      justify-content: start;
      height: 450px;
      width: 320px;
      margin-top: 40px;
      padding-top: 15px;
      padding-bottom: 0;
    }

    & > p {
      margin-right: 50px;

      @include respond-to(smallScreen) {
        height: 80px;
        margin-right: 0;
        text-align: center;
        width: 93px;
      }

      &::after {
        content: '3 види грамотності:';
        background-color: #013BD6;
        color: white;
      }
    }

    &-wrapper {
      position: relative;

      & > div {
        @include respond-to(smallScreen) {
          align-items: center;
        }

        position: absolute;

        &:first-of-type {
          right: -33px;
          top: -29px;

          @include respond-to(smallScreen) {
            display: flex;
            flex-direction: column;
            right: 187px;
            top: 142px;
          }
        }

        &:nth-of-type(2) {
          right: -160px;
          bottom: 76px;

          @include respond-to(smallScreen) {
            display: flex;
            flex-direction: column;
            right: 91px;
            bottom: -106px;
          }
        }

        &:nth-of-type(3) {
          right: -95px;
          top: 166px;

          @include respond-to(smallScreen) {
            display: flex;
            flex-direction: column;
            right: 36px;
            top: 166px;
            width: 20%;

            & > span {
              text-align: center;
              width: 177%;
            }
          }
        }

        & > span {
          background-color: #013BD6;
          color: white;
        }

        @include respond-to(smallScreen) {
          & > img {
            width: 50px;
          }
        }
      }

      @include respond-to(smallScreen) {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > img {
          margin-top: 50px;
          transform: rotate(90deg);
          width: 80%;
        }
      }
    }
  }

  &__description {
    background-color: #013BD6;
    color: white;
    margin: 116px auto 92px;
    text-align: center;
    width: 46%;

    @include respond-to(smallScreen) {
      margin: 51px auto 0;
      width: 72%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero__scheme {
    justify-content: initial;
    width: 96%;
  }
}
